{% extends 'back.html.twig' %}
{% block title %}
    All Users
{% endblock %}
{% block search %}
  <form id="search-form" class="app-search d-none d-md-block d-lg-block">
    <input id="search-input" type="text" class="form-control" placeholder="Search & enter">
  </form>
{% endblock %}
    
{% block ktiba %}
<div class="row" id="user-table">
    <div class="col-12" id="user-table">
        <div class="card" id="user-table">
            <div class="card-body" id="user-table">
                <h4 class="card-title">Show Vendeurs</h4>
                <div id="vendeur-list">
                    {% include 'vendeur/vendeur_list.html.twig' with {'vendeurs': Vendeur} %}
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
   // Function to update vendeur list based on search input
function updateVendeurList() {
    var searchTerm = $('#search-input').val();
    console.log("Search Term:", searchTerm); // Check if searchTerm is correctly retrieved
    $.ajax({
        url: '{{ path('app_vendeur_search') }}',
        type: 'GET',
        data: { search: searchTerm },
        success: function(response) {
            console.log("AJAX Response:", response); // Check the response from the server
            $('#vendeur-list').html(response);
        },
        error: function(xhr, status, error) {
            console.error("AJAX Error:", error); // Log any errors that occur during the AJAX request
        }
    });
}

</script>
 <script>
        $(document).ready(function() {
            // Bind updateVendeurList function to input event of search input field
            $('#search-input').on('input', function() {
                updateVendeurList();
            });
        });
    </script>
{% endblock %}




