<form method="post" action="{{ path('app_vendeur_delete', {'id': data.vendeur.IdVendeur}) }}" onsubmit="return confirm('Are you sure you want to delete this vendeur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.vendeur.IdVendeur) }}">
    <button class="btn btn-primary">Delete</button>
</form>