<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <title>{% block title %}Welcome!{% endblock %}</title>
 
        {% block style2 %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
        {% endblock %}
   
</head>

<body>
   
    <nav class="nav">
        <div class="nav-logo">
            <p></p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
  
            </ul>
        </div>
        <div class="nav-button">
          
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>
    {% block ktiba2 %}
   
    
    {% endblock %}


              
</body>

</html> 