{% extends 'back.html.twig' %}
{% block title %}
HOME
{% endblock %}

{% block ktiba%}


    <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Article A Traffic</h5>
                                <div class="stats-row m-t-20 m-b-20">
                                    <div class="stat-item">
                                        <h6>Growth</h6> <b>80.40%</b></div>
                                    <div class="stat-item">
                                        <h6>Montly</h6> <b>20.40%</b></div>
                                    <div class="stat-item">
                                        <h6>Daily</h6> <b>5.40%</b></div>
                                </div>
                            </div>
                            <div id="sparkline8" class="sparkchart"></div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Article B Traffic</h5>
                                <div class="stats-row m-t-20 m-b-20">
                                    <div class="stat-item">
                                        <h6>Growth</h6> <b>80.40%</b></div>
                                    <div class="stat-item">
                                        <h6>Montly</h6> <b>20.40%</b></div>
                                    <div class="stat-item">
                                        <h6>Daily</h6> <b>5.40%</b></div>
                                </div>
                            </div>
                            <div id="sparkline9" class="sparkchart"></div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Article C Traffic</h5>
                                <div class="stats-row m-t-20 m-b-20">
                                    <div class="stat-item">
                                        <h6>Growth</h6> <b>80.40%</b></div>
                                    <div class="stat-item">
                                        <h6>Montly</h6> <b>20.40%</b></div>
                                    <div class="stat-item">
                                        <h6>Daily</h6> <b>5.40%</b></div>
                                </div>
                            </div>
                            <div id="sparkline10" class="sparkchart"></div>
                        </div>
                    </div>

                      <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <!-- column -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">NEW CLIENTS</h5>
                                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                                            <span class="display-5 text-info"><i class="icon-people"></i></span>
                                            <a href="javscript:void(0)" class="link display-5 ml-auto">23</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">NEW PROJECTS</h5>
                                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                                            <span class="display-5 text-purple"><i class="icon-folder"></i></span>
                                            <a href="javscript:void(0)" class="link display-5 ml-auto">169</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">OPEN PROJECTS</h5>
                                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                                            <span class="display-5 text-primary"><i class="icon-folder-alt"></i></span>
                                            <a href="javscript:void(0)" class="link display-5 ml-auto">311</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">NEW INVOICES</h5>
                                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                                            <span class="display-5 text-success"><i class="icon-wallet"></i></span>
                                            <a href="javscript:void(0)" class="link display-5 ml-auto">117</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                        </div>
                          </div>
                    <div class="col-lg-6">
                        <div class="news-slide m-b-15">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active carousel-item">
                                        <div class="overlaybg"><img src="../assets/images/news/23.jpg" class="img-fluid" /></div>
                                        <div class="news-content carousel-caption"><span class="label label-danger label-rounded"></span>
                                            <h4></h4> <a href="javascript:void(0)"></a></div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="overlaybg"><img src="../assets/images/news/23.jpg" /></div>
                                        <div class="news-content carousel-caption"><span class="label label-primary label-rounded"></span>
                                            <h4></h4> <a href="javascript:void(0)"></a></div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="overlaybg"><img src="../assets/images/news/23.jpg" /></div>
                                        <div class="news-content carousel-caption"><span class="label label-success label-rounded"></span>
                                            <h4></h4> <a href="javascript:void(0)"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <a style="margin-left: 25px;"href="{{ path('app_user_stat') }}">Génerer statistiques</a>
                 /
                    <a href="{{ path('generate_pdf') }}">Télécharger le PDF</a>
            </div>
         
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

     
        </div>

                

{% endblock %}
