{% extends 'back.html.twig' %}

{% block title %}
    UpdateAdmin
{% endblock %}

{% block ktiba %}
    <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body wizard-content ">
                                <h4 class="card-title">Update</h4>
                               
                                <form action="#" class="tab-wizard vertical wizard-circle">
                                    <!-- Step 1 -->
                                    <h6>Personal Info</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="firstName1">First Name :</label>
                                                    <input type="text" class="form-control" id="firstName1"> </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lastName1">Last Name :</label>
                                                    <input type="text" class="form-control" id="lastName1"> </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="emailAddress1"> Address :</label>
                                                    <input type="email" class="form-control" id="emailAddress1"> </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phoneNumber1">Role :</label>
                                                    <input type="tel" class="form-control" id="phoneNumber1"> </div>
                                            </div>
                                        </div>
                                   
                                    </section>
                                    <!-- Step 2 -->
                                    <h6>Mailing</h6>
                                    <section>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="jobTitle1">Email :</label>
                                                    <input type="email" class="form-control" id="jobTitle1"> </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="videoUrl1">Mot de passe :</label>
                                                    <input type="password" class="form-control" id="videoUrl1">
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </section>
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}